.watchlist {
    height: 100%;
}

.watchlist__heading {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watchlist__heading .actions {
    background: transparent;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.watchlist__heading a {
    color: black;
}

.watchlist__heading button {
    color: red;
    background: transparent;
}

.watchlist__movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .watchlist__movies {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
    .watchlist {
        padding: 15px;
    }
}
